build/
release.sh

# node
node_modules/
package-lock.json

bower_components
vendor

# test
coverage/
debug-develop.sh
cc-test-reporter
.nyc_output/

# debian
debian/logni-libjs.debhelper.log
debian/logni-libjs/
.deb-*
.captainci-*

debian/build
debian/prebuild
debian/postbuild

debian/conffiles
debian/control
debian/cron.d
debian/dirs
debian/install
debian/links
debian/rules
